@{
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
    ViewData["Title"] = "Dashboard";
}

<div class="card shadow p-5 text-center">
    <h1 class="text-primary">Welcome Doctor</h1>
    <p class="lead mt-3">
        Manage appointments, advice, prescriptions and drug requests.
    </p>

    @* <div class="mt-4">
        <a asp-action="ViewAppointments"
               class="btn btn-primary btn-lg px-4">
            View My Appointments
        </a>
    </div> *@
    
</div>