
@{
    ViewData["Title"] = "PendingPatients";
}

<h1>PendingPatients</h1>

@model IEnumerable<Legend_clinic.Models.User>

<h2>Pending Patients</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <a asp-action="Approve" asp-route-id="@user.UserId" class="btn btn-success btn-sm">Approve</a>
                    <a asp-action="Reject" asp-route-id="@user.UserId" class="btn btn-danger btn-sm">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>