@model IEnumerable<Legend_clinic.Models.Drug>

@{
    ViewData["Title"] = "Manage Drugs";
    Layout = "~/Views/Shared/_LayoutChemist.cshtml";
}

<h2>Manage Drugs</h2>

<a asp-action="AddDrug" class="btn btn-primary">Add Drug</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Dosage</th>
            <th>Expiry</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Dosage</td>
                <td>@item.Expiry.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>